export CONTENTFUL_SPACE_ID=qnuedtoz77aj
# Production
# export CONTENTFUL_ACCESS_TOKEN=93092b3abf7730f94ed2c0e6e1711a210b8c55c1e59cf0ba941a94c7b81d198e
# export CONTENTFUL_HOST=cdn.contentful.com
# Development
export CONTENTFUL_ACCESS_TOKEN=e8df724acf8df5448ed9bccb4a31ed31ded2509a3bf35cf0aa842656408ba5c0
export CONTENTFUL_HOST=preview.contentful.com
