.artworkSummaryLink {

}

.artworkSummary {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
  align-content: center;
  background-color: var(--white-20);


  & > .gatsby-image-wrapper {
    grid-row: 1;
    width: 100%;
  }

  & > header {
    grid-row: 1;
    display: flex;
    align-items: center;

    & > h3 {
      flex: 0 1 auto;
      text-align: center;
      font-size: var(--font-size-4);
    }
  }

  & > img {
    object-fit: none !important;
  }
}

.artworkSummary.odd {
  grid-template-columns: 9rem 1fr;

  & > .gatsby-image-wrapper {
    grid-column: 1;
  }

  & > header {
    grid-column: 2;
  }
}

.artworkSummary.even {
  grid-template-columns: 1fr 9rem;

  & > .gatsby-image-wrapper {
    grid-column: 2;
  }

  & > header {
    grid-column: 1;
  }
}

.artHome {
  width: 100%;
  height: 100%;
}

.artSummaryList {
  list-style: none;
  margin: 0; /* .ma0 */

  & > ul > li {
    background-color: var(--paleturquoise-50); /* .bg-black-20 */
    border-radius: var(--border-radius-3); /* .br3 */
    margin: var(--spacing-medium) 0; /* .mb2 */
    height: 6rem;

  }

  &:nth-child(even) {
    & artworkSummary {
      & header {
        grid-column: 1;
      }
    }
  }
}

.imgWrapper {
  height: 6rem;

  & img {
    object-fit: none !important;
    padding: var(--spacing-none, 0);
    margin: var(--spacing-none, 0);
  }
}

.artwork {
  margin-top: var(--spacing-large);

  & > header {
    padding-bottom: var(--spacing-medium);

    & > h3 {
      font-size: var(--font-size-4) !important;
      text-align: center;
      width: 100%;
    }
  }
  & > p {
    margin-top: var(--spacing-large, 1rem);
    display: block;
    padding: var(--spacing-extra-small, .25rem) var(--spacing-small, .5rem);
    background-color: var(--white-30, rgba(255, 255, 255, .3));
    border-radius: var(--border-radius-3, .5rem);

  }
}
.fullWidth {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}
