.postSummary {
  padding: var(--spacing-small); /* .pa1 */
  border-radius: var(--border-radius-3); /* .br3 */

  & header {
    color: var(--dark-green);
    border: 0px solid;
    border-image: linear-gradient(
      to right,
      var(--dark-green) 0%,
      var(--transparent) 80%,
      var(--transparent) 100%
    );

    border-image-slice: 1;
    border-bottom: 1px;
    & h3 {
      font-size: var(--font-size-5); /* .f5 */
      margin: 0; /* .ma0 */
    }
  }

  & p {
    padding-top: var(--spacing-extra-small); /* .pt2 */
  }
}

.postSummaryList {
  list-style: none;
  margin: 0; /* .ma0 */

  & > ul > li {
    background-color: var(--paleturquoise-50); /* .bg-black-20 */

    border-radius: var(--border-radius-3); /* .br3 */
    margin: var(--spacing-medium) 0; /* .mb2 */
    border-color: var(--dark-green); /* .b--dark-green */
    box-shadow: var(--spacing-extra-small) var(--spacing-extra-small)
      var(--spacing-extra-extra-small) 0px var(--dark-green);
  }

  & > header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing-medium);
    color: var(--dark-green);
    padding-top: var(--spacing-medium, 1rem);

    & h3 {
      font-size: var(--font-size-5); /* .f5 */
      margin: 0; /* .ma0 */
    }
    & img {
      height: var(--spacing-medium);
      background-position: center;
      padding: var(--spacing-none, 0);
      margin: var(--spacing-none, 0);

    }
  }

}



.postNav {
  padding-top: var(--spacing-small, .5rem);
  padding-bottom: var(--spacing-small, .5rem);

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    list-style: none;
    margin: 0; /* .ma0 */

    & > li {
      color: var(--color-post-nav); /* .near-white */
      background-color: var(--color-post-nav-bg); /* .bg-black-50 */

      border: thin solid var(--color-post-nav);
      border-radius: var(--border-radius-pill); /* .br-pill */

      padding: var(--spacing-extra-small) var(--spacing-medium); /* .pa2 */
      margin: 0; /* .ma0 */

      order: 0;
      flex: 0 1 auto;
      align-self: auto;

    }
  }
}
.feedback {
  cursor: pointer;
}

.postSummaryHeader {
  padding: var(--spacing-extra-small); /* .pa1 */
  display: flex;

  & time {
    border-top-right-radius: 0; /* .br--left */
    border-bottom-right-radius: 0;

    flex: 0 1 10rem;
    text-align: left;
    display: inline-block;
    align-self: center;
    font-weight: bold; /* .b */
    padding-right: var(--spacing-small); /* .pl2 */
  }
  & h3 {
    flex: 1 1 auto;
    width: 100%; /* .w-100 */
    display: inline-block;
    text-align: right; /* .tr */
  }
}
