
:root {
  --color-logo: #00b050;
  --color-header-bg: #0070C0;
  --color-link-current-page: var(--silver);
  --color-title: #421CFF;
  --color-link: var(--black, black);
  --color-body-bg: #C1E2F7;
  --color-link-bg: var(--white, white);
  --color-link-border: #00b050;
  --color-reading: #0746F7;
  --color-reading-bg: var(--white-50);

  --color-footer-border: var(--dark-green);
}