/*

    VARIABLES

body text Arial 12 (7,70,247)
page quote Arial Italix 16

Title Cambria 44
      Headers 22

      (28,255,66)
Banner color 0,122,192
reading background 255,255,153

page background 193,226,247



*/

@custom-media --breakpoint-not-small screen and (min-width: 30rem);
@custom-media --breakpoint-medium screen and (min-width: 30rem) and (max-width: 60rem);
@custom-media --breakpoint-large screen and (min-width: 60rem);

/* colors can be found in ./_pallete.css */
:root {
  --font-size-base: 16pt;

  --page-width: 36rem;

  --article-title-size: 2rem;

  --spacing-extra-extra-small: .125rem;

  --body-background: url('../images/lace-background.png') no-repeat bottom right fixed;
  --body-texture: url('../images/scribble-light.png') repeat;
  --artwork-summary-width: 10rem;
}

