.pageGrid {
  height: 100%;
  max-width: var(--page-width);
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto auto 1fr auto;

  & > header {
    grid-row: 1;
  }
  & > nav {
    grid-row: 2;
    padding-bottom: var(--spacing-small); /* .pb2 */

  }
  & > #pageContent {
    overflow-y: scroll;
    grid-row: 3;
  }
  & > footer {
    grid-row: 4;
  }
}

