.featuredImage {
  margin: var(--spacing-none); /* .ma0 */
  & > figcaption {
    background-color: var(--color-reading-bg); /* .bg-white-40 */
  }
}

.legend {
  font-style: italic; /* .i */
text-align: center; /* .tc */

}

img {
  border-radius: var(--border-radius-3); /* .br3 */
  background-color: var(--transparent); /* .bg-transparent */

}