.pageNav {

  & > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: baseline;

    list-style: none;
    margin: var(--spacing-none, 0);

    & > li {
      margin: var(--spacing-none, 0);
      flex: 0 1 auto;
      margin-right: var(--spacing-extra-small);

      & > img {
        width: 0.75rem;

      }
    }

    & > li:last-child {
      margin-right: 0;
    }
  }
}
