.yearSelector {
  margin: var(--spacing-none, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: var(--spacing-extra-small);

  & > li {
    border-radius: var(--border-radius-3, .5rem);
    margin: var(--spacing-none, 0);
    text-align: center;
    font-size: var(--font-size-6);
  }

  & > .yearBtn {
    grid-column: 1;
    background-color: #366DC720;
    &.selected {
      background-color: #366DC760;
    }
  }

  & > .monthBtn {
    background-color: var(--white-30);
    &.selected {
      background-color: var(--white-80);
    }
    &.empty {
      color: var(--black-20);
    }
  }
}

.january {
  grid-column: 2;
  grid-row: 1;
}

.february {
  grid-column: 3;
  grid-row: 1;
}

.march {
  grid-column: 4;
  grid-row: 1;
}

.april {
  grid-column: 2;
  grid-row: 2;
}

.may {
  grid-column: 3;
  grid-row: 2;
}

.june {
  grid-column: 4;
  grid-row: 2;
}

.july {
  grid-column: 2;
  grid-row: 3;
}

.august {
  grid-column: 3;
  grid-row: 3;
}

.september {
  grid-column: 4;
  grid-row: 3;
}

.october {
  grid-column: 2;
  grid-row: 4;
}

.november {
  grid-column: 3;
  grid-row: 4;
}

.december {
  grid-column: 4;
  grid-row: 4;
}

.recent5 {
  grid-column: 2;
  grid-row: 1;
}
.recent10 {
  grid-column: 3;
  grid-row: 1;
}
.recent20 {
  grid-column: 4;
  grid-row: 1;
}
.y2020 {
  grid-column: 1;
  grid-row: 2;
}
.y2019 {
  grid-column: 1;
  grid-row: 3;
}
.y2018 {
  grid-column: 1;
  grid-row: 4;
}
.hidden {
  display: none;
}
.selected {
  transform: scale(1,1.1);
}
