.postSummary {
  & h3 {
    font-size: var(--font-size-5); /* .f5 */
  }
}

.postNav {
  margin-top: var(--spacing-small);

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    list-style: none;
    margin: var(--spacing-none); /* .ma0 */

    & > li {
      color: var(--color-post-nav); /* .near-white */
      background-color: var(--color-post-nav-bg); /* .bg-black-50 */

      border: thin solid var(--color-post-nav);
      border-radius: var(--border-radius-pill); /* .br-pill */

      padding: var(--spacing-extra-small) var(--spacing-medium); /* .pa2 */
      margin: var(--spacing-none); /* .ma0 */

      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
  }
}