html {
  font-size: var(--font-size-base);
}

h1, h2, h3, h4, h5, h6 {
  margin: var(--spacing-none, 0);
}

p:last-child {
  margin: var(--spacing-none, 0);
}

#___gatsby {
  & a, & a:visited, & a:hover, & a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    border: none;
  }
  & a.currentPage {
    color: var(--color-link-current-page);
  }
}

blockquote {
  font-style: italic;
}

