.pageFooter {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  border: 1px solid;
  border-image: linear-gradient(
    to right,
    var(--transparent) 0%,
    var(--transparent) 30%,
    var(--color-footer-border) 50%,
    var(--transparent) 70%,
    var(--transparent) 100%
  );
  border-image-slice: 1;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;

  & > span {
    font-style: italic; /* .i */
    font-size: var(--font-size-6); /* .f6 */

    display: inline-block;
    flex: 0 1 auto;
    align-self: auto;
  }
}
