.fixedList {
  & > .ul {
    & > .li {
      margin-bottom: var(--spacing-medium, 1rem);

    }
  }
}

.btn {
  background: var(--color-footer-link);
  border-radius: var(--border-radius-3, .5rem);
  color: var(--color-link);
  padding: var(--spacing-small, 0.5rem);
}

.prev {

}

.navigation > nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info {
  background: var(--teal-700);
  color: var(--near-black);
}
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  background: var(--teal-700);
  color: var(--near-black);
}

.pageLink {
  font-weight: bold;
}

.pageLinkActive a {
  color: var(--near-white);
  background: var(--teal-300);
}

.pageLinkDisabled a {
  background: var(--gray-700);
  color: var(--gray-600);
  border: 1px solid rgb(198, 197, 202);
}
